<a href="https://colab.research.google.com/github/Axebaevv/Week-4-Collaboratory/blob/main/MIDTERM_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [174]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/midterm.db")

In [175]:
# Creating main "VEHICLE" table
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS VEHICLE(
    id integer primary key, 
    registration_id text, 
    manufacturer text, 
    model text, 
    color text, 
    current_odometer integer, 
    passenger_capacity integer)
  ''')

In [176]:
# Inserting all info to "VEHICLE" table
r_set = my_conn.execute(''' INSERT INTO `VEHICLE` 
  (`id`, `registration_id`, `manufacturer`, `model`, `color`, `current_odometer`, `passenger_capacity`) VALUES
  (1, '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4),
  (2, '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4),
  (3, '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4),
  (4, '2020 DXF', 'Ford', 'Transit', 'Silver', 974, 2)
''')

q = ''' SELECT * FROM VEHICLE '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  4
(1, '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4)
(2, '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4)
(3, '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4)
(4, '2020 DXF', 'Ford', 'Transit', 'Silver', 974, 2)

In [177]:
# Creating "VEHICLE_CONDITION" table to know the condition of the vehicle 
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS VEHICLE_CONDITION(
    id integer primary key, 
    odometer int, 
    description text, 
    date text, 
    VEHICLE_id int, 
    VEHICLE_STATUS_id int,
    FOREIGN KEY(VEHICLE_id) REFERENCES VEHICLE(id),
    FOREIGN KEY(VEHICLE_STATUS_id) REFERENCES VEHICLE_STATUS(id))
  ''')

In [178]:
# Inserting all info to "VEHICLE_CONDITION" table
r_set = my_conn.execute(''' INSERT INTO `VEHICLE_CONDITION` 
  (`id`, `odometer`, `description`, `date`, `VEHICLE_id`, `VEHICLE_STATUS_id`) VALUES
  (1, 234, 'Lorem ipsum', '2017-06-15', 1, 2),
  (2, 352, 'Lorem ipsum', '2020-06-15', 2, 1),
  (3, 5123, 'Lorem ipsum', '2019-06-15', 3, 2)
''')

q = ''' SELECT * FROM VEHICLE_CONDITION '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  3
(1, 234, 'Lorem ipsum', '2017-06-15', 1, 2)
(2, 352, 'Lorem ipsum', '2020-06-15', 2, 1)
(3, 5123, 'Lorem ipsum', '2019-06-15', 3, 2)

In [179]:
# Creating "VEHICLE_STATUS" table and it stores  the action type as Maintenance (M) or Repair (R). 
# It has a relationship with vehicle condition
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS VEHICLE_STATUS(
    id integer primary key, 
    status char(1))
  ''')

In [180]:
# Inserting all info to "VEHICLE_STATUS" table. It contains  of Maintenance (M) and
# Repair (R). To make it more clean I just seperated it in one table 
r_set = my_conn.execute(''' INSERT INTO `VEHICLE_STATUS` 
  (`id`, `status`) VALUES
  (1, "M"),
  (2, "R")
''')

q = ''' SELECT * FROM VEHICLE_STATUS '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 'M')
(2, 'R')

In [181]:
# creating "COUNTRY" table that stores country participating
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS COUNTRY(
    id integer primary key, 
    iso text,
    country_name text,
    official_language text)
  ''')

In [182]:
# Inserting all info to "COUNTRY" table
r_set = my_conn.execute(''' INSERT INTO `COUNTRY` 
  (`id`, `iso`, `country_name`, `official_language`) VALUES
  (1, "ISO 3166-2:US", "The United States", "EN"),
  (2, "ISO 3166-2:CN", 'China', "CN")
''')

q = ''' SELECT * FROM COUNTRY '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 'ISO 3166-2:US', 'The United States', 'EN')
(2, 'ISO 3166-2:CN', 'China', 'CN')

In [183]:
# creating "PARTICIPANTS" table that has information ITS records the
# name of the country that an official is representing, the official's Incheon 8
# characters based City ID, his/her name, role at the Incheon Games (e. g., coach,
# judge and physician), and the official's preferred language.

# I have added to foreign key which are "COUNTRY_id" & "DRIVER_id".
# "COUNTRY_id" helps to add country to this table
# "DRIVER_id" helps to make a bridge between these two tables in order to find sutable driver for the participants
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS PARTICIPANTS(
    id integer primary key, 
    city_id text,
    name text,
    role text,
    language text,
    COUNTRY_id int, 
    DRIVER_id int,
    FOREIGN KEY(COUNTRY_id) REFERENCES COUNTRY(id),
    FOREIGN KEY(DRIVER_id) REFERENCES DRIVER(id))
  ''')

In [184]:
# Inserting all info to "PARTICIPANTS" table
r_set = my_conn.execute(''' INSERT INTO `PARTICIPANTS` 
  (`id`, `city_id`, `name`, `role`, `language`, `COUNTRY_id`, `DRIVER_id`) VALUES
  (1, 124, 'Alex', 'Coach', 'EN', 1, 1),
  (2, 512, 'Si Won Hye', 'Assistent', 'CN', 2, 2)
''')

q = ''' SELECT * FROM PARTICIPANTS '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, '124', 'Alex', 'Coach', 'EN', 1, 1)
(2, '512', 'Si Won Hye', 'Assistent', 'CN', 2, 2)

In [185]:
# Creating "DRIVER" table and it stores drivers' information, including their name,
# license number (18 characters), and clearance level. An ITS driver's security
# clearance level can be digits from 1 to 4.

# FOREIGN KEYS
# I have added "FATL_id" and "STLVT_id" as a foreign keys 
# From my perspective, it was best solution because, you can leave as a blank if theyd don't have or fill out the blank
# if they have that documents
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS DRIVER(
    id integer primary key, 
    name text,
    licence_number char(18),
    clearance_level int,
    language text,
    FATL_id int, 
    FATL_issue_date date,
    STLVT_id int, 
    STLVT_issue_date date,
    STLVT_certifying_authority text,
    FOREIGN KEY(FATL_id) REFERENCES FATL(id),
    FOREIGN KEY(STLVT_id) REFERENCES STLVT(id))
  ''')

In [186]:
# Inserting all info to "DRIVER" table
r_set = my_conn.execute(''' INSERT INTO `DRIVER` 
  (`id`, `name`, `licence_number`, `clearance_level`, `language`, `FATL_id`,
   `FATL_issue_date`, `STLVT_id`, `STLVT_issue_date`, `STLVT_certifying_authority`) VALUES
  (1, "John", '123456789101324354', 1, 'EN', 3, '2017-06-15', 4, '2017-06-15', 'Government'),
  (2, "In Che Xiu", '123456789101324351', 3, 'CN', 2, '2017-06-15', 5, '2017-06-15', 'Government')
''')

q = ''' SELECT * FROM DRIVER '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 'John', '123456789101324354', 1, 'EN', 3, '2017-06-15', 4, '2017-06-15', 'Government')
(2, 'In Che Xiu', '123456789101324351', 3, 'CN', 2, '2017-06-15', 5, '2017-06-15', 'Government')

In [187]:
# Creating "FATL" table that stores the FATL level (1 to 10) 
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS FATL(
    id integer primary key, 
    level int)
  ''')

In [188]:
# Inserting all info to "FATL" table
r_set = my_conn.execute(''' INSERT INTO `FATL` 
  (`id`, `level`) VALUES
  (1, 1),
  (2, 2),
  (3, 3),
  (4, 4),
  (5, 5),
  (6, 6),
  (7, 7),
  (8, 8),
  (9, 9),
  (10, 10)
''')

q = ''' SELECT * FROM FATL '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  10
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)
(10, 10)

In [189]:
# Creating "STLVT" table that stores the STLVT level (1 to 5) 
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS STLVT(
    id integer primary key, 
    level int)
  ''')

In [190]:
# Inserting all info to "STLVT" table
r_set = my_conn.execute(''' INSERT INTO `STLVT` 
  (`id`, `level`) VALUES
  (1, 1),
  (2, 2),
  (3, 3),
  (4, 4),
  (5, 5)
''')

q = ''' SELECT * FROM STLVT '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  5
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)

In [191]:
# Creating "BOOKING_SERVICE" table 
# Here you can find all bookings. It includes matched driver with participant
# Also the information about the date, location, pick up, drop off and odometer 
# It designed as the best table for storing all the trip data in this one table 
# Because it is more efficient and effective

# booking service matches the assignment of a suitable driver with a
# suitable vehicle based on the Incheon game official's request

# BOOKING_SERVICE table system stores the booking reference number, the actual trip
# start date-and-time, end date-and-time, start odometer value and end odometer
# value

my_conn.execute('''
  CREATE TABLE IF NOT EXISTS BOOKING_SERVICE(
    id integer primary key, 
    booking_reference_number int,
    VEHICLE_id int,
    DRIVER_id int, 
    PARTICIPANTS_id int,
    LOCATION_id_pick_up int,
    LOCATION_id_drop_off int,
    trip_start_date date,
    trip_end_date date,
    start_odometer int,
    end_odometer int,
    FOREIGN KEY(VEHICLE_id) REFERENCES VEHICLE(id),
    FOREIGN KEY(DRIVER_id) REFERENCES DRIVER(id),
    FOREIGN KEY(PARTICIPANTS_id) REFERENCES PARTICIPANTS(id),
    FOREIGN KEY(LOCATION_id_pick_up) REFERENCES LOCATION(id),
    FOREIGN KEY(LOCATION_id_drop_off) REFERENCES LOCATION(id),
    FOREIGN KEY(PARTICIPANTS_id) REFERENCES PARTICIPANTS(id))
  ''')

In [192]:
# Inserting all info to "BOOKING_SERVICE" table
r_set = my_conn.execute(''' INSERT INTO `BOOKING_SERVICE` 
  (`id`, `booking_reference_number`, `VEHICLE_id`, `DRIVER_id`, `LOCATION_id_pick_up`,
  `LOCATION_id_drop_off`, `trip_start_date`, `trip_end_date`,
   `start_odometer`, `end_odometer`) VALUES
  (1, "123", 1, 2, 3, 2, '2022-06-15', '2022-06-17', 423, 642),
  (2, "523", 3, 1, 4, 1, '2022-06-02', '2022-06-05', 123, 513)
''')

q = ''' SELECT * FROM BOOKING_SERVICE '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 123, 1, 2, None, 3, 2, '2022-06-15', '2022-06-17', 423, 642)
(2, 523, 3, 1, None, 4, 1, '2022-06-02', '2022-06-05', 123, 513)

In [193]:
# Creating "LOCATION" table that stores all locations that are available in the Incheon game official 
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS LOCATION(
    id integer primary key, 
    address text,
    type text)
  ''')

In [194]:
# Inserting all info to "LOCATION" table
r_set = my_conn.execute(''' INSERT INTO `LOCATION` 
  (`id`, `address`, `type`) VALUES
  (1, 'Incheon 123, X street', 'Medical Center'),
  (2, 'Incheon 5, Y street', 'Main Olympic Center'),
  (3, 'Incheon 14, Z street', 'Amusement Park'),
  (4, 'Incheon 12, A street', 'INCHEON GYM'),
  (5, 'Incheon 52, B street', 'Hotel')
''')

q = ''' SELECT * FROM LOCATION '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  5
(1, 'Incheon 123, X street', 'Medical Center')
(2, 'Incheon 5, Y street', 'Main Olympic Center')
(3, 'Incheon 14, Z street', 'Amusement Park')
(4, 'Incheon 12, A street', 'INCHEON GYM')
(5, 'Incheon 52, B street', 'Hotel')

In [195]:
# Creating "VEHICLE_AVAILABILITY" table where you can find whether a vehicle is currently available or not. 
# With this table you can find out the availability if the
# vehicle is out-on-a-trip or out-of-service.

my_conn.execute('''
  CREATE TABLE IF NOT EXISTS VEHICLE_AVAILABILITY(
    id integer primary key, 
    VEHICLE_CONDITION_id int,
    BOOKING_SERVICE_id int,
    FOREIGN KEY(VEHICLE_CONDITION_id) REFERENCES VEHICLE_CONDITION(id),
    FOREIGN KEY(BOOKING_SERVICE_id) REFERENCES BOOKING_SERVICE(id))
  ''')

In [196]:
# Inserting all info to "VEHICLE_AVAILABILITY" table
r_set = my_conn.execute(''' INSERT INTO `VEHICLE_AVAILABILITY` 
  (`id`, `VEHICLE_CONDITION_id`, `BOOKING_SERVICE_id`) VALUES
  (1, 1, 1),
  (2, 3, 2)
''')

q = ''' SELECT * FROM VEHICLE_AVAILABILITY '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 1, 1)
(2, 3, 2)